select:hover,
select:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="color"]:hover,
input[type="color"]:focus,
input[type="file"]:hover,
input[type="file"]:focus {
	border-color: #262959;
	outline: 0
}
.authentication_header__title {
	margin-bottom: 0;
	font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #262959
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

.container:after {
	display: table;
	line-height: 0;
	content: "";
	clear: both
}
.datetime_range_input_icon {
	display: inline-block;
	margin-right: 4px;
	transform: translate3d(0, 6px, 0)
}

.datetime_range_input_icon path {
	fill: #b4bbc6
}
.cobalt-mb-tight {
	margin-bottom: 16px !important
}
.input{
    min-width: 226px;
    width: 100%;
    height: 30px;
    padding: 20px;
    border: 1px solid #ddd;
}
.Fp7U-popover .Fp7U-wrapper .Fp7U-content {
    margin: 0 -8px;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.D_rZ {
    padding: 5px 7px 5px 20px;
    line-height: 30px;
    text-align: right;
    overflow: visible;
    text-overflow: initial;
    color: #212a30;
    cursor: pointer;
    list-style: none;
}
.keel ul, .keel ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.D_rZ:not(.D_rZ-mod-selected):hover, .D_rZ:not(.D_rZ-mod-selected).D_rZ-mod-active {
    background-color: #f3f5f7;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Fp7U-popover .Fp7U-wrapper {
    position: relative;
    height: 100%;
    right: 0;
}
.wrapper .Fp7U-content {
    margin: 0 -8px;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.AMtC-list {
    max-height: 200px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    overflow-y: scroll;
}
.Fp7U-popover .Fp7U-wrapper .Fp7U-background {
    border-radius: 2px;
    right: 0;
    padding: 8px;
    transition: transform 200ms ease-out,height 200ms ease-out,width 200ms ease-out;
    box-shadow: 0 2px 5px 0 rgb(23 35 44 / 24%), 0 -1px 5px 0 rgb(23 35 44 / 20%);
    top: 0;
    z-index: 0;
    box-sizing: content-box;
    position: absolute;
    color: #212a30;
    background-color: #fff;
    content: '';
    transform: translate3d(8px,-8px,0);
}
.time1{
    cursor: pointer;
    background-color: #f0f3f5;
}
.time1:hover{
    background-color: #d9e2e8;
}
#time1{
    display: none;
}
.vdp-datepicker input[type=text]{
    background-color: #f0f3f5;
    border: 1px solid #ced4da;
    cursor: pointer;
    padding: .375rem .75rem;
}
.vdp-datepicker input[type=text]:hover{
    background-color:#d9e2e8;
   
}
.UqfW-result-list {
    display: flex;
    min-height: 18px;
    margin: 6px 0 11px;
    display: inline-block;
    /* margin-right:5px;height:16px;width:16px;line-height:16px;color:#192024;fill:#192024 */
}
.UqfW-result-list {
    display: flex;
}
.UqfW-icon {
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    line-height: 10px;
    color: #192024;
    fill: #192024;
}
.UqfW-result-list .UqfW-car-option {
    display: flex;
    align-items: center;
    color: #192024;
    white-space: nowrap;
    font-family: HelveticaNeue-Bold,'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}
.UqfW-result-list .UqfW-car-option {
    display: flex;
}
.UqfW-flex-card:nth-of-type(n+2){margin-left:16px}
.x9e3-multi {
    background-color: #f9fafb;
    margin: -4px;
    padding: 4px;
    border-radius: 2px;
    max-width: 290px;
}
.x9e3-locationIcon {
    position: absolute;
    margin-left: -32px;
    margin-top: 6px;
    width: 22px;
    height: 22px;
    color: #192024; 
    fill: #192024;
}
.x9e3-location {
    padding-left: 32px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    color: #192024;
    font-family: 'HelveticaNeue','Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
}
.o3Q9-btn {
    border: 0px;
    color: #fff;
    padding: 5px 10px;
    /* background: linear-gradient(135deg,#ff690f 0%,#e8381b 100%); */
    background: linear-gradient(135deg,#ff690f 0%,#dc3545 100%);
}
.zOXU-price {
    text-align: left;
    color: #192024;
    margin-bottom: 8px;
    font-family: HelveticaNeue-Bold,'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
}
.o3Q9-btn {
    font-weight: bold!important;
    background: linear-gradient(135deg,#ff690f 0%,#dc3545 100%);
}
.c_0M0.c_0M0-mod-theme-glitter .c_0M0-filter-head-dropdown {
    padding: 4px 12px;
    margin-bottom: 16px;
    height: 60px;
}
.c_0M0-details {
    font-family: 'HelveticaNeue','Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
}
.c_0M0-filter-head-dropdown .c_0M0-action-icon-chevron {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: transform .1s ease-in-out;
}
.c_0M0-filter-head-dropdown {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 44px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 0 15px;
    color: #192024;
    background-color: #fff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    transition: color .2s ease-out,background-color .2s ease-out;
    font-family: HelveticaNeue-Bold,'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}
/* drop down button*/
.c_0M0-filter-head-dropdown.c_0M0-open, .c_0M0-filter-head-dropdown.c_0M0-dirty{
    background-color:#363f45;
    color:#fff;
    border-color:#363f45;
}
.c_0M0-filter-head-dropdown.c_0M0-open .c_0M0-action-icon-chevron {
    transform: rotate(180deg);
}
.c_0M0-filter-head-dropdown.c_0M0-open .c_0M0-action-icon-chevron-svg {
    fill: #fff;
}
/* drop down list */
.bnnd.bnnd-mod-animated .bnnd-content {
    transition: opacity 100ms ease-in 150ms;
    background-color: #fff;
}
.bnnd.bnnd-mod-radius-medium, .bnnd.bnnd-mod-radius-medium .bnnd-content {
    border-radius: 8px;
}
.bnnd.bnnd-mod-animated {
    transition: transform 200ms ease,opacity 200ms ease;
}
.bnnd.bnnd-visible, .bnnd.bnnd-visible .bnnd-content {
    opacity: 1;
}
.hYzH.hYzH-mod-theme-glitter.hYzH-isHorizontal {
    min-width: 250px;
    /* max-width: 262px; */
    max-width: 100%;
}
.hYzH.hYzH-mod-theme-glitter.hYzH-isHorizontal {
    margin: 0px;
}
.hYzH::before {
    content: "";
    transition: background-color 200ms ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    border-radius: 2px;
}
.hYzH:not(.hYzH-disabled):focus-within::before {
    background-color: #f3f5f7;
    border: 0px;
}

/* .hYzH::before {
    content: "";
    transition: background-color 200ms ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    border-radius: 2px;
} */
.hYzH.hYzH-mod-theme-glitter:first-of-type {
    margin-top: 0;
}
.hYzH {
    display: flex;
    position: relative;
    padding: 4px 0;
    transition: color 200ms ease-out;
    list-style-type: none;
    cursor: pointer;
    line-height: 18px;
}

.hYzH.hYzH-mod-theme-glitter {
    padding: 8px 16px;
    margin: 0 -16px;
    line-height: 20px;
}
.hYzH-filter-checkbox-outer {
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    flex: 0 1 auto;
    overflow: hidden;
}
/* .hYzH.hYzH-mod-theme-glitter.hYzH-isHorizontal :hover{
    background-color: #f3f5f7;
} */
.bnnd.bnnd-visible .bnnd-content {
    opacity: 1;
}
.ui-dialog-Popover.mod-layer-default {
    z-index: 99999;
    display: none;
}
.bnnd.bnnd-mod-animated {
    transition: transform 200ms ease,opacity 200ms ease;
}
.bnnd.bnnd-visible, .bnnd.bnnd-visible .bnnd-content {
    opacity: 1;
}

.hYzH-filter-checkbox-outer .hYzH-filter-checkbox-inner {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    overflow: hidden;
}
.PVIO.PVIO-mod-theme-default .PVIO-input-wrapper {
    background-color: #fff;
    border-color: #9ba8b0;
    transition: border 200ms ease-in-out;
}
.PVIO-input {
     cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.PVIO.PVIO-mod-size-small .icon {
    height: 14px;
    width: 14px;
    min-width: 14px;
}
/* .PVIO .icon {
    fill: transparent;
    transition: fill 200ms ease-in-out;
    user-select: none;
    width: inherit;
    height: inherit;
} */
.icon {
    fill: transparent;
}
/* .PVIO.PVIO-mod-theme-default.PVIO-mod-checked .icon {
    fill: #0080a4;
} */
.PVIO-mod-checked{
    fill: #0080a4;
}
.PVIO-input-wrapper {
    position: relative;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.PVIO {
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: middle;
    text-decoration: none;
}


.PVIO.PVIO-mod-theme-default .PVIO-label {
    color: inherit;
    font-family: 'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.PVIO.PVIO-mod-variant-multi-line .PVIO-label {
    white-space: normal;
    width: 100%;
}
.PVIO.PVIO-mod-size-small .PVIO-label {
    font-size: 14px;
    line-height: 20px;
}

.PVIO-label {
    cursor: pointer;
    padding-left: 8px;
}
.ui-dialog-Popover.mod-layer-default {
    /* box-shadow: 1px 0px 2px 1px; */
    box-shadow: 0 10px 20px rgb(25 32 36 / 10%), 0 3px 6px rgb(25 32 36 / 4%), 0 -3px 6px rgb(25 32 36 / 4%);
}
.p6Cx.p6Cx-isHorizontal.p6Cx-mod-theme-glitter .p6Cx-filter-subsection-title {
    padding: 8px 0;
    font-family: HelveticaNeue-Bold,'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}
.c_0M0-content-inner.c_0M0-mod-theme-glitter {
    margin: 12px 16px;
}
.x9e3-row, .x9e3-compact {
    flex-direction: row;
}
/* categoies list */
.c4N-t, .c4N-t-List {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.evcL {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    min-width: 86px;
    cursor: pointer;
    height: 44px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 0 15px;
    color: #192024;
    background-color: #fff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    transition: color .2s ease-out,background-color .2s ease-out;
    font-family: HelveticaNeue-Bold,'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}
.evcL.evcL-mod-theme-glitter {
    padding: 4px 8px;
    margin-bottom: 16px;
    height: 60px;
    min-width: 75px;
    align-items: center;
}
.evcL:not(.evcL-disabled):hover {
    background-color: transparent;
    border-color: #1f282d;
}
.evcL-image {
    width: 48px;
    height: 32px;
}
.evcL.evcL-mod-theme-glitter .evcL-content {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 16px;
    margin-left: 16px;
}
.evcL:not(.evcL-disabled).evcL-dirty {
    background-color: #363f45;
    color: #fff;
    border-color: #363f45;
}
.evcL.evcL-mod-theme-glitter {
    padding: 4px 8px;
    margin-bottom: 16px;
    height: 60px;
    min-width: 75px;
    align-items: center;
}
/* price slide */
.slider.slider-horizontal {
    width: 100%;
    height: 20px;
    margin: 30px 0;
}
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider-track {
    position: absolute;
    cursor: pointer;
    background: #cecece;
    border-radius: 4px;
}
.slider.slider-horizontal .slider-track-low {
    height: 100%;
    top: 0;
    bottom: 0;
}
.slider-track-high, .slider-track-low {
    position: absolute;
    background: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}
.slider-handle.round {
    border-radius: 50%;
}
.slider-handle {
    background-color: #fff;
    border: 3px solid #2f83aa;
}
.slider-handle, .slider-tick {
    position: absolute;
    width: 20px;
    height: 20px;
}
.slider.slider-horizontal .slider-handle, .slider.slider-horizontal .slider-tick {
    margin-left: -10px;
    margin-top: -5px;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-high, .slider.slider-horizontal .slider-track-low {
    height: 100%;
    top: 0;
    bottom: 0;
}
.slider-selection {
    position: absolute;
    background: #2f83aa;
    border-radius: 4px;
}


.be_tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.slider .be_tooltip-inner, .slider.slider-horizontal .slider-tick-label-container {
    white-space: nowrap;
}
.be_tooltip.be_bottom {
    padding: 5px 0;
    margin-top: 3px;
}
/* header css */
.fv-6-left-section, .fv-6-right-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.react.react-st .ui-layout-header-HeaderNavLink {
    font-family: "HelveticaNeue-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    height: 62px;
    text-decoration: none;
    white-space: nowrap;
    text-transform: none;
    line-height: inherit;
}
.react.react-st .common-layout-react-HeaderAccountWrapper, .common-layout-react-HeaderV2 .common-layout-react-HeaderAccountWrapper {
    height: 100%;
    display: flex;
}
.react.react-st .common-layout-react-HeaderAccountWrapper .menu__wrapper--business, .common-layout-react-HeaderV2 .common-layout-react-HeaderAccountWrapper .menu__wrapper--business {
    display: inline-block;
}
@media (min-width: 48em){
.fv-6.fv-6-header--fixed--desktop .fv-6-header {
    position: fixed;
    top: 0;
    z-index: 9990;
}
}
.fv-6.fv-6-dotfV2 .fv-6-header {
    border-bottom: none;
}
.react.react-st .common-layout-react-HeaderAccountWrapper .auth-account-icon, .common-layout-react-HeaderV2 .common-layout-react-HeaderAccountWrapper .auth-account-icon {
    width: 25px!important;
    /* height: 25px!important; */
    /* padding: 3px 5px 0 0; */
}
.Iqt3.Iqt3-mod-variant-outline {
    border: 1px solid currentColor!important;
    background: #fff;
    border-radius: 4px!important;
}
.auth-account-icon, .common-layout-react-HeaderV2 .common-layout-react-HeaderAccountWrapper .auth-account-icon {
    width: 25px!important;
    height: 25px!important;
    padding: 3px 5px 0 0;
}
.common-layout-react-HeaderV2 .common-layout-react-HeaderAccountWrapper .menu-label__wrapper button.Button-No-Standard-Style {
    background: #fff;
}
.Iqt3-button-container, .Iqt3-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-width: 0;
    border-radius: inherit;
}
.fv-6-header {
    width: 100%;
    height: inherit;
    letter-spacing: .0330769em;
    background: #fff;
    border-bottom: 1px solid #d9e2e8;
    display: flex;
    flex-flow: column;
    font-family: 'Helvetica Neue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.react.react-st .ui-layout-header-HeaderNavLink .info-marker {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 1px 4px;
    font-size: 8px;
    line-height: 10px;
    white-space: nowrap;
    border-radius: 1px;
}
/* end header css */
